    .custom-font{
      font-family:"Bricolage Grotesque";
    }

/*film page*/
.film-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
}

.film-row {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  flex-wrap: nowrap;
}

.film-card {
  flex: 0 0 48%;
  max-width: 48vw;     
  min-width: 280px;    
  box-sizing: border-box; 
}

.film-card img {
  width: 100%;
  height: auto;
  display: block;
}
.film-grid-wrapper {
  max-width: 2000px;
  margin: 0 auto;
}
.film-card-right {
  flex: 0 0 48%;
  margin-left: auto;
  max-width: 48vw;     
  min-width: 280px;    
  box-sizing: border-box; 
}
.film-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
/*Nav bar for all pages logo hover*/
.separator-with-logo::before {
  content: "—";
  font-size: 68px;
  color: white;
  opacity: 0.5;
  display: block;
  line-height: 1;
  margin-top: -25px;
}
.separator-with-logo::after {
  content: "";
  position: absolute;
  top: -40px; /* move logo above the dash */
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 87px;
  height: 87px;
  background-image: url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 80%;
  transition: transform 0.3s ease;
}
.separator-with-logo:hover::after {
  transform: translateX(-50%) scale(1.1);
  transition: transform 0.5s ease;
  opacity: 90%;
}
    .navbar { font-family: 'Unna',sans-serif;width: 100%; padding: 20px 0; display: flex; justify-content: center;  position: sticky; top: 15px; z-index: 100; }
    .navbar ul { list-style: none; display: flex; gap: 40px; padding: 0; margin: 0; }
    .navbar a { color: white; text-decoration: none; font-weight: 600; font-size: 18px; letter-spacing: 0.5px; transition: color 0.3s ease; }
    .navbar a::after { content: ''; display: block; width: 0; height: 2px; background: white; transition: width 0.3s; margin-top: 5px; }
    .navbar a:hover::after { width: 100%; }
    .navbar a:hover { color: #ccc; }
    .navbar .separator {
  color: white;
  opacity: 0.5;
  font-size: 68px;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: relative;
  top: -27px;
}

.navbar .separator::before {
  content: "—"; /* The actual dash */
}
    .separator-with-logo {
  position: relative;
  text-align: center;
}


/*Hyperlinks*/
    a:visited,
    a:hover,
    a:link,
    a:active,
    a:focus {
      color: white;
      text-decoration: none; 
    }



